#university {
    display: flex;
    flex-direction: column-reverse;
    div {
        height: 49%;
    }
}

#big-title-boye {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#logo {
    border: 2px solid black;
}