# Dependencies
node_modules

# Editor Files
.vscode
.idea
*.code-workspace

# Compiled Code
dist/

# Temporary Files
*.log
*.tmp
.sass-cache/
._*

# System Files
.DS_Store

# API and Encryption keys
*.pem
*.key
