// Module imports
@import "modules/variables";
@import "modules/footer";
@import "modules/header";
@import "modules/box";

// Bootstrap Imports
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../lib/animate/animate.min.css";

@import "modules/overrides";

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html,
body {
  // padding-top: 3rem;
  width: 100%;
  background-color: map-get($theme-colors, "primary");
}
p {
  font-size: 1.25em;
}
a {
  &:hover {
    text-decoration: none;
  }

}

section {
  padding-top: 3em;
  padding-bottom: .5em;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.row-center {
  @extend .row, .justify-content-center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.section-title {
  @extend .display-3;
  margin-bottom: 35px;
}

.icon-left {
  margin-right: 3px;
}

// @media only screen and (min-width: 1500px) {
//   #page-content {
//     margin: 0% 5%;
//     box-shadow: 0 0 60px 70px darken(map-get($theme-colors, "primary"), 20%);
//     border-radius: 0px 0px 50px 20px;
//   }

// }
