@import "base";
@import "modules/carousel";
@import "modules/cal-box";

.newsletter {
  form {
    width: 75%;
  }
  input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
  }
}

a {
  &:hover {
    text-decoration: none;
  }

}

section {
  padding-top: 3em;
  padding-bottom: .5em;
}
