@import "base";
@import "modules/carousel";
@import "modules/calendar";

.newsletter {
  form {
    width: 75%;
  }
  input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
  }
}
